#diagramNewInfect {
	margin: 20px auto;
	width: 900px;
	height: 600px;
}

#diagramNewSuspected {
	margin: 20px auto;
	width: 900px;
	height: 600px;
}

#diagramTotalCureAndDied {
	margin: 20px auto;
	width: 900px;
	height: 600px;
}

.thirdChoiceDiv {
	width: 600px;
	margin: 0px auto;
	border-radius: 15px;
}

.thirdChoiceDiv table {
	border-collapse: collapse;
}

.thirdChoiceDiv th {
	width: 280px;
	text-align: center;
	font-size: 150%;
	text-align: center;
	text-align: center margin-left: 2px;
	margin-right: 2px;
}

.thirdChoiceDiv .selected {
	border-radius: 10px;
	background-color: rgb(84, 185, 243);
}

.thirdChoiceDiv .unselected {
	border-radius: 10px;
	background-color: rgba(206, 206, 206, 0.5);
}