#guideTitle {
	margin: 30px auto;
	text-align: center;
}

#guideBackground {
	margin: 10px auto;
	width: 600px;
	background-color: rgba(201, 201, 201, 0.9);
	border-radius: 10px;
	padding: 20px;
}

#guideContent {
	margin: 30px auto;
	width: 500px;
	height: 600px;
}

.guideSubTitle {
	font-size: 200%;
}

.guideSubContent {
	margin : 10px auto;
	width: 480px;
	height: 100px;
	margin: 30px auto;
}

.glyphicon-exclamation-sign {
	color: rgb(35, 198, 209);
	font-size: 160%;
}

.glyphicon-ok {
	color: rgb(35, 198, 209);
	font-size: 130%;
}

.glyphicon-ban-circle {
	color: rgb(253, 34, 34);
	font-size: 160%;
}

.glyphicon-remove {
	color: rgb(253, 34, 34);
	font-size: 130%;
}

.glyphicon-plus-sign {
	color: rgb(16, 241, 28);
	font-size: 160%;
}

.glyphicon-plus {
	color: rgb(16, 241, 28);
	font-size: 130%;
}