body {
	background-color: rgb(71, 233, 219);
}

.clear {
	clear: both;
}

#main {
	width: 1000px;
	margin: 10px auto;
	background-color: white;
	border-radius: 20px;
}

#navitagorDiv {
	padding: 10px;
}

#navitagorDiv nav {
	background-color: red;
	width: 600px;
	margin: 0px auto;
	padding: auto;
}

#navitagorDiv span {
	display: block;
	background-color: rgb(206, 206, 206);
	float: left;
	width: 140px;
	text-align: center margin: 0px 10px;
}

#navitagorDiv a {
	display: block;
	float: left;
	color: black;
	font-size: 160%;
	text-align: center;
	text-decoration: none;
	width: 150px;
	padding: auto;
}

#navitagorDiv a:hover {
	display: block;
	color: rgb(102, 209, 252);
}

#navitagorDiv p {
	text-align: center
}

#situationDiv {
	width: 600px;
	margin: 10px auto;
	background-color: rgba(206, 206, 206, 0.6);
	border-radius: 20px;
}

#situationDiv table {
	margin: 0 auto;
}

#situationDiv th {
	width: 120px;
	text-align: center;
	font-size: 120%;
}

#situationDiv td {
	padding: 10px;
	text-align: center;
	font-size: 150%;
}

.infect {
	color: rgb(163, 10, 10);
}

.suspected {
	color: rgb(154, 11, 173);
}

.cure {
	color: rgb(46, 207, 140);
}

.died {
	color: rgb(50, 53, 51);
}

.doubleChoiceDiv {
	width: 600px;
	margin: 5px auto;
	background-color: rgba(206, 206, 206, 1);
	border-radius: 15px;
	padding: 1px;
}

.doubleChoiceDiv table {
	margin: 3px auto;
}

.doubleChoiceDiv th {
	width: 280px;
	text-align: center;
	font-size: 150%;
	text-align: center;
	text-align: center
}

.selected {
	border-radius: 10px;
	background-color: rgb(233, 233, 233);
}

.unselected {
	
}

.infectMap {
	background-color: red;
	width: 800px;
	height: 600px;
}

#nowInfect {
	margin: 20px auto;
	width: 900px;
	height: 600px;
}

#allInfect {
	margin: 20px auto;
	width: 900px;
	height: 600px;
}

#calander {
	margin: 0px auto;
	width: 900px;
	height: 300px;
}

#currentTime{
	width: 900px;
	margin: 0px auto;
	text-align:center;
}#currentTime table{
	width: 500px;
	margin: 0px auto;
	text-align:center;
}#currentTime td{
	width: 500px;
	margin: 10px auto;
	text-align:center;
}